*{
    margin: 0;
    padding: 0;
}
.slideclass{
    width: 100%;
    height: 554px;
}

.navbar1{
    height: 43px;
    position:sticky;
    margin: 1px;
    background-color:white;
    display: flex;
    align-items: center;
    z-index: 1;
    
    
    
}
.logo{
    height: 65px;
}

.head{
    font-family: 'Aclonica';
    font-size: 27px;
    padding-top: 5px;
    
    margin: 0;
}

.left{
    width: 50%;
    object-fit: contain;
    height: 100px;
    
}



 
    

.sideimg{
    height: 328px;
    object-fit: contain;
}
.rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 14rem;
    height: 10rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(175, 89, 89, 0.349);
}
.pad{
padding: 43px;
}
.log{
display: flex;
align-items: center;
}
.sliderimg{
width: 1489px;
height: 572px;

}
.contends{
display: flex;
justify-content: center;
width: 88%;
align-items: center;

}
.logo-head{
display: flex;
align-items: center;
width: 12%;

}
.cont{
padding: 12px;
margin-bottom: 0;

}
.text{
    word-wrap: break-word;
}

.section1{
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    .navbar1 { 
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: white;
        text-align: center;
        height: 50px;
        
    }
    
    
    .head{
        margin-right: 30px;
    }
    .cont {
        padding: 12px;
        margin-bottom: 0;
        background-color: white;
    }
    .logo-head{
        padding-top: 0;
        display: flex;
        text-align: center;
        justify-content: center;
    }
}